<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="#" ><i class="fa fa-graduation-cap fa-lg mr-2"></i>BLOG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1">
                        <a class="nav-link" routerLink="/list-post" ><i class="fa fa-home fa-fw mr-1"></i> list post</a>
                    </li>
                    <li class="nav-item active pl-1">
                        <a class="nav-link" routerLink="/add-post"  ><i class="fa fa-th-list fa-fw mr-1"></i> Add Post</a>
                    </li>
                    <li class="nav-item pl-1">
                        <a class="nav-link" routerLink="/Update post" ><i class="fa fa-user-plus fa-fw mr-1"></i> Update post</a>
                    </li>
                  
                   
                </ul>
            </div>
        </div>
    </nav>
    </header>
    