<section>
    <div class="container" style="padding-top: 2%;">

        <div class="card mb-4">
            <div>
                <br>
                <h3 class="mb-0 text-center">Update Product</h3>
            </div>
            <div class="card-body">


                <form [formGroup]="updateform" (ngSubmit)="updateArticle()">

                    <div class="row mb-4">


                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" formControlName="title">
                                <label class="form-label" for="form6Example2">Article title</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">


                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" formControlName="category">
                                <label class="form-label" for="form6Example2">category</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            formControlName="description" ></textarea>
                    </div>


                    <br>
                    <hr class="my-4" />

                    <h5 class="mb-4">date</h5>
                    <label class="form-label" for="form6Example2"></label><br><br>

                    <input type="date" url required id="form6Example2" class="form-control" formControlName="date"><br><br>



                    <div class="form-group">
                        <button class="btn btn-warning btn-lg btn-block " type="submit">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</section>